<h2>List User</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
        <figure style="width:100px; height: auto"><%= avatar user.avatar%></figure></td>
        <td><%= link_to user.name, admin_user_path(user)%></td>
        <td><%= user.email%></td>
        <td><%= link_to "", edit_admin_user_path(user),:class => 'fa fa-edit fa-2x' %><%= link_to '', admin_user_path(user),:class => 'fa fa-trash fa-2x', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users %>