<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :image %>    
    <%= f.file_field :image,{:onchange => "readURL(this)"} %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>
    <%=f.collection_select(:category_id, Category.all, :id, :name, {prompt: true},{:class=>'form-control'})%>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.bootsy_area :content, class: "form-control",rows: 25 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
