					<div class="page">
						<div class="breadcrumbs">
							<a href="index.html">Home</a>
							
							
							<%= form_tag(reviews_path, :method => "get", id: "search-form") do %>
							  <%= text_field_tag :search, params[:search], placeholder: "Search review" %>
							  <%= submit_tag "Search" %>
							<% end %>
						<!--	<span>Movie Review</span>-->
						<!--</div>-->

						<!--<div class="filters">-->
						<!--	<select name="#" id="#" placeholder="Choose Category">-->
						<!--		<option value="#">Action</option>-->
						<!--		<option value="#">Drama</option>-->
						<!--		<option value="#">Fantasy</option>-->
						<!--		<option value="#">Horror</option>-->
						<!--		<option value="#">Adventure</option>-->
						<!--	</select>-->
						<!--	<select name="#" id="#">-->
						<!--		<option value="#">2012</option>-->
						<!--		<option value="#">2013</option>-->
						<!--		<option value="#">2014</option>-->
						<!--	</select>-->
						<!--</div>-->
						<div class="movie-list">
							 <% @reviews.each_with_index do |review,index| %>
							<div class="movie">

								<figure class="movie-poster"><a href="reviews/<%=review.id%>"><%= image_tag review.image%></a></figure>
								<div class="movie-title"><a href="reviews/<%=review.id%>"><%=review.title%></a></div>
							</div>
							<%end%>
						</div> <!-- .movie-list -->
					</div>
