
						<div class="breadcrumbs">
							<a href="index.html">Home</a>
						</div>
						<div class="filters">
							<%= form_tag(reviews_path, :method => "get", class: "search-form") do %>
								<%= text_field_tag :search, params[:search], placeholder: "Search review" %>
								<%=select_tag 'category_id', content_tag(:option,'select one...',:value=>"0")+options_from_collection_for_select(Category.all, :id, :name,@category_id) %>
								<button style="background-color:#ccc">filter</button>
							<%end%>
						</div>
						<div class="movie-list">
							 <% @reviews.each_with_index do |review,index| %>
							<div class="movie">
								<div class="item">
									<figure class="movie-poster" ><a href="reviews/<%=review.id%>"><%= image_for_review review.image%></a></figure>
									<div class="description">
										<div class="movie-title"><a href="reviews/<%=review.id%>"><%=review.title%></a></div>
										<div class="like_area">
											<%= review.get_likes.size %>
											<div class="like_review fa fa-thumbs-up"></div>
										</div>
									</div>
								</div>
							</div>
							<%end%>
						</div> <!-- .movie-list -->
						<%= will_paginate @reviews,:style => 'float:left' %>