
<p id="notice"><%= notice %></p>
<div class="row review-show-page">
    <div class="col-md-12 text-center">
        <figure class="movie-poster"><%=image_tag(@review.image,:class => "detail_image")%></figure>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h1><%=@review.title%></h1>
        <div class="content">
            <%=@review.content.html_safe%>
        </div>
        <div class="own_name">
            <% @review.user.name %>
        </div>
        <div class="time">
            <% if @review.created_at > Time.now.beginning_of_day %>
                <%="#{time_ago_in_words(@review.created_at)} ago"%>  
            <% else %>
                <%= @review.created_at.strftime("%b %d, %Y") %>
            <% end %>
        </div>
        <div class="clearfix">
          <div class="vote_count pull-left">
            <%= @review.get_likes.size %>
          </div> 
        
          <div class="votes pull-left">
            <% if current_user.liked? @review %>
              <%= link_to "", unlike_review_path(@review), method: :get, remote: true, class: 'unlike_review fa fa-thumbs-up' %>
            <% else %>
              <%= link_to "", like_review_path(@review), method: :get, remote: true, class: 'like_review fa fa-thumbs-o-up' %>
            <% end %>
          </div>
        </div>
        <hr>
    </div>
    
        
        <div class="col-md-8 col-md-offset-2">
            <% @comments =  @review.comments%>
            <div id="comments"><%=render 'comments/comment'%></div>
            <% if current_user %>
                <%= form_for [@review,@comment ||= Comment.new],remote: true do |f| %>
                    <div class="field">
                        <%= f.text_area :body,  required: true %>
                    </div>
                    <div class="actions">
                        <%= f.submit %>
                    </div>
                <% end %>
            <% else %>
                <p style="color:red">dang nhap de comment</p>
            <% end %>    
        </div>
        
        
    </div>
</div>

<% if  @review.user == current_user %>
    <%= link_to 'Edit', edit_review_path(@review) %> |
    <%= link_to "Delete",review_path(@review), method: :delete, data: {confirm: t("application.confirm")} %> |
<% end %>
<%= link_to 'Back', reviews_path %>
