<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-6">
        <figure class="movie-poster"><%=image_tag(@review.image,:class => "detail_image")%></figure>
    </div>
    <div class="col-md-6">
        <h1><%=@review.title%></h1>
        <div class="row">
          <div class="vote_count col-md-1">
            <%= @review.get_likes.size %>
          </div> 
        
          <div class="votes col-md-2">
            <% if current_user.liked? @review %>
              <%= link_to "unlike", unlike_review_path(@review), method: :get, remote: true, class: 'unlike_review btn btn-warning' %>
            <% else %>
              <%= link_to "like", like_review_path(@review), method: :get, remote: true, class: 'like_review btn btn-primary' %>
            <% end %>
          </div>
        </div>
        <%=@review.content.html_safe%>
        <% @review.comments.each do |c| %>
            <p>
                <%= c.body %>
            </p>
        <% end %>
        <% if current_user %>
            <%= form_for [@review, @comment ||= Comment.new] do |f| %>
                <div class="field">
                    <%= f.text_area :body %>
                </div>
                <div class="actions">
                    <%= f.submit %>
                </div>
            <% end %>
        <% else %>
            <p style="color:red">dang nhap de comment</p>
        <% end %>
    </div>
</div>

<% if  @review.user == current_user %>
    <%= link_to 'Edit', edit_review_path(@review) %> |
    <%= link_to "Delete",review_path(@review), method: :delete, data: {confirm: t("application.confirm")} %> |
<% end %>
<%= link_to 'Back', reviews_path %>
