<p id="notice"><%= notice %></p>
<div class="row review-show-page">
    <div class="col-md-12 text-center">
        <figure class="movie-poster"><%=image_tag(@review.image,:class => "detail_image")%></figure>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <h1><%=@review.title%></h1>
        <div class="row">
          <div class="vote">
            <%= @review.get_likes.size %>
             <% if current_user.liked? @review %>
              <%= link_to raw('<i class="fa fa-thumbs-up" aria-hidden="true"></i>'), unlike_review_path(@review), method: :get, remote: true %>
            <% else %>
              <%= link_to raw('<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>'), like_review_path(@review), method: :get, remote: true %>
            <% end %>
          </div> 
        </div>
        <hr>
        <% @review.comments.each do |c| %>
            <p class="comments">
                <% if c.user %>
                    <strong><%= c.user.name %> : </strong>
                <% else %>
                    <strong>noname : </strong>
                <% end %>
                
                <%= c.body %>
                <%= link_to 'x', [c.review, c],
                   :confirm => 'Are you sure?',
                   :method => :delete,
                   :class => 'delete'
                   %>
            </p>
        <% end %>
        <% if current_user %>
            <%= form_for [@review, @comment ||= Comment.new] do |f| %>
                <div class="field">
                    <%= f.text_area :body %>
                </div>
                <div class="actions">
                    <%= f.submit %>
                </div>
            <% end %>
        <% else %>
            <p style="color:red">dang nhap de comment</p>
        <% end %>
    </div>
</div>

<% if  @review.user == current_user %>
    <%= link_to 'Edit', edit_review_path(@review) %> |
    <%= link_to "Delete",review_path(@review), method: :delete, data: {confirm: t("application.confirm")} %> |
<% end %>
<%= link_to 'Back', reviews_path %>
